body{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    --soothing-sea:#C3E9E4 ;
    --sweet-melon:#F69D9D ;
}
.select{
    width:98%;
    height:94%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:10px;
}
.outer-wrapper{ 
    background: linear-gradient(230deg, rgba(246,157,157,1) 0%, rgba(195,233,228,1) 100%); 
    width:40%;
    height:25%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius:10px;
}
.wrapper-2{
    background: linear-gradient(96deg, rgba(246,157,157,1) 0%, rgba(195,233,228,1) 100%); 
}
.wrapper-3{background: linear-gradient(5deg, rgba(246,157,157,1) 0%, rgba(195,233,228,1) 100%); }
